.navbar {
  @include media-breakpoint-up(lg) {
    padding: 1.6rem 2rem;
  }
  &__logo {
    height: 6.5rem;
    position: relative;
    top: 1rem;
    left: calc(50% - (80px / 2));
    z-index: 1000;
    cursor: pointer;
    @include media-breakpoint-up(lg) {
      position: static;
    }
  }

  &__checkbox {
    display: none;
  }

  &__button {
    background-color: $white;
    height: clamp(5.6rem, calc(0.8rem + 6.25vw), 7rem);
    width: clamp(5.6rem, calc(0.8rem + 6.25vw), 7rem);
    position: fixed;
    top: 2rem;
    right: 2rem;
    border-radius: 50%;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($black, 0.1);
    text-align: center;
    cursor: pointer;
  }

  &__background {
    height: clamp(5.6rem, calc(0.8rem + 6.25vw), 7rem);
    width: clamp(5.6rem, calc(0.8rem + 6.25vw), 7rem);
    border-radius: 50%;
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }

  &__nav {
    @include media-breakpoint-down(md) {
      height: 100vh;
      width: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1500;
      opacity: 0;
      transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &__list {
    @include media-breakpoint-down(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    @include media-breakpoint-up(lg) {
      margin: 0;
      display: flex;
    }
    //__item
    & > li {
      @include media-breakpoint-down(md) {
        margin: 1rem;
      }
      @include media-breakpoint-up(lg) {
        padding: 0 1.6rem;
      }
    }
    //__link
    & a {
      &:link,
      &:visited {
        text-decoration: none;
        @include media-breakpoint-down(md) {
          display: inline-block;
          font-size: 3rem;
          font-weight: 300;
          padding: 1rem 2rem;
          color: $white;

          text-transform: uppercase;
          background-image: linear-gradient(
            120deg,
            transparent 0%,
            transparent 50%,
            $white 50%
          );
          background-size: 220%;
          transition: all 0.4s;
        }
        @include media-breakpoint-up(lg) {
          position: relative;
          color: $black;
          font-size: 2rem;
          font-weight: 700;
        }
      }

      &::after {
        @include media-breakpoint-up(lg) {
          content: '';
          position: absolute;
          bottom: -3px;
          left: 0;
          width: 100%;
          height: 4px;
          background-color: $color-primary;
          border-radius: 25px;
          transform: scaleX(0);
          transition: all 0.12s;
        }
      }

      &:hover,
      &:active {
        @include media-breakpoint-down(md) {
          background-position: 100%;
          color: $color-primary;
          transform: translateX(1rem);
        }
        @include media-breakpoint-up(lg) {
          color: $color-primary;
          &::after {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  // Functionality
  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;
  }

  // Icon
  &__icon {
    position: relative;
    top: 50%;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark-3;
      display: inline-block;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover &__icon:before {
    top: -1rem;
  }

  &__button:hover &__icon:after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }
  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotate(135deg);
  }
  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
